<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div class="container">
  <%= render 'layouts/header' %>
  
  <div class="span-24 last" style="margin-top: 25px">
    <section>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
        <br />
      <% end %>
    </section>
  </div>
  <br />
  <div class="span-22 push-1">
        <section>
      <%= yield %>
    </section>
  </div>
  
  <% if Rails.env.development? %>
    <div class="span-24 last">
      <%= debug(params) %>
    </div>
  <% end %>
  
</div>

</body>
</html>
